<html>
<head>
    <title>Pupusa Stack</title>
    
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <img class="mx-auto w-20 mb-4" src="/logo-2.png">
        <h1 class="text-5xl font-bold">Pupusa Stack</h1>
        <p class="py-6">A desktop first app using Go Binaries</p>
        <button class="btn btn-primary">Download Demo Client</button>
      </div>
    </div>
  </div>
</body>
</html>
